bin/
test/integ/happy1/config/db/
tmp.pl
classes
*.class
test/integ/happy1/config/restore-dir
test/integ/happy2/config1/restore-dir
*.jad
*~
friendly-backup.jar
dist/friendly-backup.jar
dist/lib/
*.log
test/integ/happy2/config*/db/
out*
*.out
dist/run/db/*
dist/gnupg/*
tmp*
*.tmp
*.swp
log.txt
log2.txt
target/
